{% extends 'contest/base.html' %}

{% block title %}
<title>Contest List</title>
{% endblock %}

{% block content %}

<h2 align="center">Contest List</h2>

<div class="table-responsive">
    {% if request.session.user_type == "admin" %}
        <a href="/contests/add/">
            <button class="btn btn-success pull-right">Add Contest</button>
        </a>
        <br><br>
    {% endif %}

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sl</th>
                <th>Name</th>
                <th>Date</th>
                <th>Total Questions</th>
                <th>Report</th>
            </tr>
        </thead>
        <tbody>
            {% for c in contests %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ c.id }}/">{{ c.name }}</a></td>
                <td>{{ c.contest_date }}</td>
                <td>{{ c.question_set.count }}</td>
                <!--<td><a href="/ranking_contest/{{c.id}}/">View Ranks</a></td>-->
                <td><a href="/report_generate/{{c.id}}/">View Report</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}