{% extends 'contest/base.html' %}

{% block auth_cont %}
    <h2>Judge Registration</h2>
    {% for m in messages %}
        <p style="color: #ff731e; font-weight: bold;">{{ m.message }}</p>
    {% endfor %}
    <form action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="FName">First Name:</label>
            <input type="text" name="f_name" class="form-control" id="" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <label for="LName">Last Name:</label>
            <input type="text" name="l_name" class="form-control" id="" placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control" id="" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="Id">User Login ID:</label>
            <input type="text" name="user_id" class="form-control" id="" placeholder="Enter User Login ID" required>
        </div>
        <div class="form-group">
            <label for="pwd">Password: <p style="font-style: italic; font-size: smaller">Hint: Provide strong password
                                                                                         with at least 8 characters
                                                                                         combination of uppercase,
                                                                                         lowercase and special
                                                                                         letters</p></label>
            <input type="password" name="password1" class="form-control" id="" placeholder="Enter password" required>
        </div>
        <div class="form-group">
            <label for="pwd">Confirm Password:</label>
            <input type="password" name="password2" class="form-control" id="" placeholder="Re-Enter password" required>
        </div>

        <button type="submit" class="btn btn-success">Signup</button>
        <div><br>
            <a href="/login/">Already have an account?</a>
        </div>
    </form>

{% endblock %}
